
  .current-temperature {
    margin-bottom: 20px;
    background-color: #343a40; /* Set the background color for the temperature card */
    color: #fff; /* Set the text color to white */
  }
 
  .card {
    width: 25rem;
    margin-bottom: 20px;
    background-color: #343a40; /* Set the background color for the weekly forecast cards */
    color: #fff; /* Set the text color to white */
  }
  .card-desc{
    font-size: .8rem;
    color: #c9c9da;
  }
  